/* loginbox.css */

.login-container {
  /* Add styles for the container */
  margin-top: 20px;
}

.card-container {
  /* Add styles for the card container */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.customButton {
  /* Add styles for the login button */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.customButton:hover {
  background-color: #050e18 !important;
}

.signup-link {
  /* Add styles for the signup link */
  color: #007bff;
  cursor: pointer;
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #0056b3;
}
