.cd {
  background-color: #EAE7B1!important;
  /* Add shadow effect */
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); You can adjust the shadow values as needed */
  transition: transform 0.3s ease-in-out; /* Add transition effect */
}

.cd:hover {
  transform: translateY(-5px); /* Apply transformation on hover */
}

.card-title {
  color: #010203; /* Text color for the card title */
}

.card-subtitle {
  color: #010203; /* Text color for the card subtitle */
}

.card-text {
  color:  #010203; /* Text color for the card text */
}